.position-relative {
  position: relative;
  z-index: 2; }

.no-padding {
  padding: 0 !important; }

.course-buider .feature-ico {
  width: 40px; }

.course-buider img {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px; }

.course-buider h2 {
  display: inline-block;
  vertical-align: super; }

.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step; }

.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  color: #7d7d7d; }

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white; }

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1; }

.progressbar li:first-child:after {
  content: none; }

.progressbar li.active {
  color: #7d7d7d; }

.progressbar li.active:before {
  border-color: #55b776; }

.progressbar li.active + li:after {
  background-color: #55b776; }
