$blue: #364bd0;
$white: #fff;
$blue-button:#011ecb;
$blue-button-two:#1f2026;
$blue-button-hover:#032268;
$black: #0e0e0e;
$black-two: #eee;
$yellow:#ff794d;
$yellow-hover: #e4420d;
$black-footer:#25262d;
$border: #f6f9fc;

input{
    width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #364bd0e0;
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
    z-index: 99999;
    overflow: auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 0.5s ease-in;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.background-blue{
    background-color: $blue;
    overflow: hidden;
    .splash-content{
        position: relative;
        h1, p{
            color: white;
        }
        .button-blue{
            text-decoration: none;
            background-color: $blue-button;
            color: $white;
            margin-top: 20px;
            display: inline-block;
            text-transform: uppercase;
        }
        .button-blue:hover{
            background-color: $blue-button-hover;
        } 
        
    }
}
  ul.list{
      padding-left: 50px;
      list-style: none;
      margin: 0;
      li{
        background-size: 46px 30px;
    background-repeat: no-repeat;
    background-image: url(../img/Rounded.svg);
    line-height: 18pt;
    background-position: 0 2px;
    padding: 5px 0px 30px 50px;
    }
}

.image-discover{
    img{
        display: block;
        margin: 0 auto;
    }
}
.content-image-discover{
    a{
        text-decoration: none;
        color: $blue;
        font-weight: bold;
    }
}


.pure-img-responsive-logo{
        max-width: 100%;
    }
.background-black-two{
    background-color: $black-two;
    h2,h4{
        color: $black;
    }
}

img.block1, img.block2, img.block3, img.block4,img.block-logo-one, img.block-logo-three, .block-logo-two{
    display: none;
}



@media (min-width: 771px) {
    .popup {
        width: 70%;
        max-width: 750px;
     }
    .position-relative {
        position: relative;
        z-index: 5;
    }
    .position-absolute{
        position: absolute;
        z-index: -12;
    }
    img.block-logo-one{
            top: 10em;
            left: 0em;
            width: 220px;
            z-index: 1;
            display: inherit;
     }
    img.block-logo-three{
           top: 2em;
            right: 10em;
            width: 100px;
            z-index: 1;
          display: inherit;
     }
    img.block-logo-two{
        top: 9em;
        right: 0em;
         z-index: 1;
        display: inherit;
    }
    
    img.block1{
           position: absolute;
        bottom: -6em;
        left: 11em;
        display: inherit;
    }
    img.block2{
        position: absolute;
        bottom: 0em;
        left: 25em;
        display: inherit;
   }
    .img-banner-position{
        position: relative;
        img.block3{
            position: absolute;
            top: 10em;
            left: -2em;
            display: inherit;
            width:90px;
            z-index: 1;
        }
        img.block4{
            position: absolute;
            top: 5em;
            left: 0em;
            display: inherit;
            width: 60px;
            z-index: 1;
        }
        .pure-img-responsive{
            position: relative;
            z-index: 5;
        }
    }
}



@media (min-width: 1022px) {
    
    .border-top{
        border-top: 2px solid $border;
    }
    .border-right{
        border-right: 2px solid $border;
    }
    .pure-img-responsive-logo{
        max-width: 70%;
    }
}