$blue: #364bd0;
$white: #fff;
$blue-button:#011ecb;
$blue-button-two:#1f2026;
$blue-button-hover:#032268;
$black: #0e0e0e;
$black-two: #eee;
$yellow:#ff794d;
$yellow-hover: #e4420d;
$black-footer:#25262d;
$border: #f6f9fc;
nav .container{
    width: 100%;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    p{
        margin-bottom: 20px;
    }
}
.custom-wrapper{
    background-color: $blue;
}
.blurry{
    height: 100px;
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: 0;
}
.box-shadow{
    -webkit-box-shadow: 0 60px 168px -20px #D4D8E2;
    -moz-box-shadow: 0 60px 168px -20px #D4D8E2;
    box-shadow: 0 60px 168px -20px #D4D8E2;
}
a.pure-menu-link {
    font-weight: bold;
}
.padding-top-50{
    padding-top: 50px;
}
.padding-top-170{
    padding-top: 170px;
}
h2{
    font-size: 28pt;
}
.button{
    white-space: nowrap;
    display: inline-block;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .055em;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.button:active{
    border-top: 3px solid #c23f14;
    border-left: 3px solid #be370a;
}
.background-blue{
    background-color: $blue;
    overflow: hidden;
    .splash-content{
        position: relative;
        h1, p{
            color: white;
        }
        .button-blue{
            text-decoration: none;
            background-color: $blue-button;
            color: $white;
            margin-top: 20px;
            display: inline-block;
            text-transform: uppercase;
        }
        .button-blue:hover{
            background-color: $blue-button-hover;
        } 
        
    }
}
  ul.list{
      padding-left: 50px;
      list-style: none;
      margin: 0;
      li{
        background-size: 39px 35px;
        background-repeat: no-repeat;
        background-image: url(../img/Rounded.svg);
        line-height: 18pt;
        background-position: 0 0;
        padding: 5px 0px 30px 50px;
    }
}

.image-discover{
    img{
        display: block;
        margin: 0 auto;
    }
}
.content-image-discover{
    a{
        text-decoration: none;
        color: $blue;
        font-weight: bold;
    }
}
.botton-footer{
    .content{
        padding: 0 100px;
    }
    background-color: $blue-button-two;
    p{
        color: $white;
    }
}

.pure-img-responsive-logo{
        max-width: 100%;
    }
.background-black-two{
    background-color: $black-two;
    h2,h4{
        color: $black;
    }
}

img.block1, img.block2, img.block3, img.block4,img.block-logo-one, img.block-logo-three, .block-logo-two{
    display: none;
}
.button-yellow{
    text-decoration: none;
    padding: 10px 20px;
    background-color: $yellow;
    color: $white;
    text-transform: uppercase;
}
.button-yellow:hover{
    background-color: $yellow-hover;
}
.footer{
    background-color: $black-footer;
}

@media (min-width: 600px) {
    .splash-container{
        padding: 0 100px;
    }
    .content-image-discover{
        margin-left: 90px;
        h3{
            text-transform: uppercase;
        }
     
    }
    .image-discover{
        float: left;
        margin-top: 34px;
        img{
            display: block;
        }
    }
}

@media (min-width: 771px) {
    .position-relative {
        position: relative;
        z-index: 5;
    }
    .position-absolute{
        position: absolute;
        z-index: -12;
    }
    img.block-logo-one{
            top: 10em;
            left: 0em;
            width: 220px;
            z-index: 1;
            display: inherit;
     }
    img.block-logo-three{
           top: 2em;
            right: 10em;
            width: 100px;
            z-index: 1;
          display: inherit;
     }
    img.block-logo-two{
        top: 9em;
        right: 0em;
         z-index: 1;
        display: inherit;
    }
    
    img.block1{
           position: absolute;
        bottom: -6em;
        left: 11em;
        display: inherit;
    }
    img.block2{
        position: absolute;
        bottom: 0em;
        left: 25em;
        display: inherit;
   }
    .img-banner-position{
        position: relative;
        img.block3{
            position: absolute;
            top: 10em;
            left: -2em;
            display: inherit;
            width:90px;
            z-index: 1;
        }
        img.block4{
            position: absolute;
            top: 5em;
            left: 0em;
            display: inherit;
            width: 60px;
            z-index: 1;
        }
        .pure-img-responsive{
            position: relative;
            z-index: 5;
        }
    }
}



@media (min-width: 1022px) {
    
    .border-top{
        border-top: 2px solid $border;
    }
    .border-right{
        border-right: 2px solid $border;
    }
    .pure-img-responsive-logo{
        max-width: 70%;
    }
}