$color-background: #f5f7f9;
$blue: #364bd0;
$white:#fff;
$orage:#ff7b4f;
$grey:#a8a4a4;
$black: #000;
$button-price-hover:#e74d1a;
$button-register-hover:#000;
.background-white{
        background-color: $white;

}
.background-price{
    background-color: $white;
   position: relative;
    z-index: 101;
    overflow: hidden;
}

.text-left{
    text-align: left;
}
.text-right{
    float: right;
}
.no-margin{
    margin:0;
}
.price-list{
    padding-bottom: 10px;
    background-color: $white;
    transition: box-shadow 0.5s;
    &:hover{
        -webkit-box-shadow: -7px 28px 106px 4px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: -7px 28px 106px 4px rgba(0, 0, 0, 0.22);
        box-shadow: -7px 28px 106px 4px rgba(0, 0, 0, 0.22);
    }
    .title-price{
        padding: 0 10px;
    }
    p{
        font-size: 14pt;
        display: inline-block;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        
    }
    .second{
            font-weight: bold;
            font-size: 15pt;
        }
    hr{
        background-color: $color-background;
        height: 1px; 
        border: 0;
        clear: both;
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        color: $black;
        padding-top: 20px;
    }
    .price-list-content{
        padding: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0 10px;
            li{
                margin-bottom: 1.5em;
                img{
                    width: 14px;
                    margin-right: 10px;
                }
                span{
                    color: $black;
                    font-weight: bold;
                    font-size: 16pt;
                }
            }
        }
        .button-div{
            display: block;
            text-align: center;
            .button-price{
                background-color: $orage;
                padding: 7px 40px;
                color: $white;
                text-decoration: none;
                text-transform: capitalize;
                border-radius: 5px;
              }  
            .button-price:hover{
                background-color: $button-price-hover;
            }
        }
    }
   
}

.detail-price{
    position: relative;
    z-index: 9999;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-register{
    background-color: $blue;
    text-decoration: none;
    padding: 5px 20px;
    color: $white;
    border-radius: 5px;

}
.button-register:hover{
    background-color: $button-register-hover;
}
.background-image{
    background-image: url(../img/nonprofit-textute.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.position-image-asolute{
    position: absolute;
    z-index: 0;
}
.height-180{
    height: 180px;
}
.padding-contact{
    padding-top: 134px;
}

@media (min-width: 750px){
    .decorate{
        width: 100%;
        position: absolute;
        height: 500px;
        background: $color-background;
        top: -138px;
        z-index: 1;
        left: -38px;
        transform: rotate(344deg) scale(1.5) skew(-10deg) translate(-9px);
        -webkit-transform: rotate(344deg) scale(1.5) skew(-10deg) translate(-9px);
        -moz-transform: rotate(344deg) scale(1.5) skew(-10deg) translate(-9px);
        -o-transform: rotate(344deg) scale(1.5) skew(-10deg) translate(-9px);
        -ms-transform: rotate(344deg) scale(1.5) skew(-10deg) translate(-9px);
    }
}
@media (min-width: 948px){
    .padding-contact{
        padding-top: 0px;
    }
}


